<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini whatsapp </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2 class="heading "> Welcome to chats </h2>
    <form action="/chats/new" method="get">
        <button>New chat</button>
    </form>

    <% for(let chat of chats ){ %>
        <div class="chat">
            <p> from: <%= chat.from %>
            </p>
            <div class="msg">
                <p>
                    <%= chat.msg %>
                        <form action="/chats/<%= chat._id %>/edit" method="get">
                            <button>Edit chat</button>
                        </form>
                </p>
            </div>
            <p>Recived By : <%= chat.to %>
            </p>
            <p>
                <%= chat.createdAt.toString().split(" ")[4] %></p>
<p><%= chat.createdAt.toString().split(" ").slice(0 , 4).join(" ") %></p>
<p>Last Updated: <%= chat.updatedAt.toString().split(" ").slice(0 , 5).join(" ") %></p>


         <form action=" /chats/<%=chat._id %>?_method=DELETE" method="post">
                    <button>Delete </button>
                    </form>
        </div>
        <hr>
        </hr>
        <% } %>
</body>

</html>